:root {
  --primary: #f44c7f;
  --secondary: pink;
  --green: #40e640;
  --red: #962929;
  --default: #353f52;
  --bg-color: #353f52;
  --header-bg:#e5ebf7;
  --fill-empty: #d4d4d4;
  --container-bg: #dfdfdf;
  --points-bg: #e9ecf0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}
header {
  text-align: center;
  padding: 10px;
  font-weight: 550;
  font-size: 45px;
  color: var(--primary);
  background-color: var(--header-bg);
}
.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  font-size: 20px;
}
.score-container,
.mistake-container {
  padding: 10px 25px;
  background-color: var(--points-bg);
  border-radius: 5px;
}
.container {
  background-color: var(--container-bg);
  max-width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border-radius: 10px;
}
form {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}
#answer-box {
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
}
.question {
  font-size: 35px;
  margin: 10px;
}
#submit-btn {
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);

  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}
.progress {
  --height : 70px;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: var(--height);
  background-color: var(--fill-empty);
  display: flex;
  border: 1px solid black;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}
.fillempty {
  width: 100px;
  height: var(--height);
  border: 1px solid rgb(0, 0, 0);
  z-index: 2;
}
.fill {
  position: absolute;
  width: 0;
  background-color: var(--green);
  height: var(--height);
  z-index: 1;
  transition: width 0.5s ease-in-out;
}
.vibrate {
  animation: vibrate 100ms ease-in-out;
  animation-iteration-count: 2;
}
.info{
  text-align: center;
  color: rgba(211, 211, 211, 0.89);
}
@keyframes vibrate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@media screen and (max-width:800px){
  .progress{
    --height:55px;
    margin: 0 10px;
  }
  .container{
    width: 350px;
  }
}