:root {
  --primary: #f44c7f;
  --secondary: pink;
  --green: green;
  --red: red;
  --default: white;
  --bg-color: #333a45;
  --fill-empty: #e9ecf0;
  --container-bg: #e9ecf0;
  --points-bg: #e9ecf0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}
header {
  text-align: center;
  padding: 10px;
  font-weight: 550;
  font-size: 45px;
  color: var(--primary);
  background-color: #e9ecf0;
}
.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  font-size: 20px;
}
.score-container,
.mistake-container {
  padding: 10px;
  background-color: var(--points-bg);
}
.container {
  background-color: var(--container-bg);
  max-width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}
form {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}
#answer-box {
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
}
.question {
  font-size: 35px;
  margin: 10px;
}
#submit-btn {
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);

  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}
.progress {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: 75px;
  background-color: var(--fill-empty);
  display: flex;
  border: 1px solid black;
  z-index: 0;
}
.fillempty {
  width: 100px;
  height: 75px;
  border: 1px solid rgb(0, 0, 0);
  z-index: 2;
}
.fill {
  position: absolute;
  background-color: var(--green);
  height: 75px;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}
.vibrate {
  animation: vibrate 100ms ease-in-out;
  animation-iteration-count: 2;
}
@keyframes vibrate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
